/*
  Dark Mode Color Scheme (Default)
*/
:root {
  --color-anchor: #d78cff;
  --color-bg: #1c1c1c;
  --color-blockquote-text: #c0bcbc;
  --color-code-bg: #313030;
  --color-code-text: #fefefe;
  --color-divider: #8b8b8b;
  --color-heading: #dfdfdf;
  --color-table-border: #767676;
  --color-table-row-even: #181818;
  --color-table-row-header: #000;
  --color-table-row-odd: #333333;
  --color-text: #fafafa;
}


/*
  Apply colors to general doc selectors
*/
html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Newsreader', Georgia, serif !important;
  font-size: 22px !important;
  line-height: 1.5 !important;
  font-weight: 300 !important;
}

/*
  Typography & doc elements
*/
#doc h1, #doc h2, #doc h3, #doc h4, #doc h5, #doc h6 {
  color: var(--color-heading);
  border-color: var(--color-divider);
  font-family: 'Newsreader', Georgia, serif;
}

#doc, #doc div, #doc span, #doc p, #doc li, #doc th, #doc td, #doc dd, #doc dl {
  color: var(--color-text);
  font-family: 'Newsreader', Georgia, serif !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
}

#doc a:link, #doc a:visited, #doc a:active, #doc a:checked {
  color: var(--color-anchor);
}

#doc hr {
  background-color: var(--color-divider);
}

#doc blockquote, .markdown-body blockquote,
#doc blockquote *, .markdown-body blockquote * {
  border-color: var(--color-divider);
  color: var(--color-blockquote-text);
}

/*
  Code blocks and formatted text
*/
.markdown-body code, .markdown-body code *,
#doc pre, #doc code, #doc pre code,
#doc pre *, #doc code *, #doc pre code * {
  background-color: var(--color-code-bg);
  color: var(--color-code-text);
}

/*
  Images
  - Optional: add 'transparent' class to remove the border & background
    - The image will inherit the light/dark mode background color
    - Useful to preserve transparent background images/icons
  - Optional: add 'padded' class to give extra padding to an image
    - Very useful for graphs and charts
  - Optional: add 'invert' class to the image for dark mode inversion
    - Used to completely invert the colors of an image while in dark mode
*/
#doc img {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

#doc img.transparent {
  background-color: transparent;
  border: none;
}

#doc img.padded {
  padding: 12px;
}

#doc img.invert {
  filter: invert(1)
}

/*
  Tables
  - Normal tables are striped styled
  - Optional: add 'transparent' class to create an invisible table, remove borders, striping and background
    - Useful for when using tables for grid layouts
  - Optional: add 'centered' class to center align all the text within the table
*/
#doc table thead tr, #doc table tr.header {
  background-color: var(--color-table-row-header);
}

#doc table tbody tr, #doc table tr.odd {
  background-color: var(--color-table-row-odd);
}

#doc table tbody tr:nth-child(2n), #doc table tr.even {
  background-color: var(--color-table-row-even);
}

#doc table th, #doc table td {
  border-color: var(--color-table-border);
}

#doc table.transparent,
#doc table.transparent th,
#doc table.transparent td,
#doc table.transparent thead tr, #doc table.borderless tr.header,
#doc table.transparent tbody tr, #doc table.borderless  tr.odd,
#doc table.transparent tbody tr:nth-child(2n), #doc table.borderless tr.even {
  border: none;
  background-color: transparent;
}

#doc table.centered,
#doc table.centered th,
#doc table.centered td {
  text-align: center;
}

